{% extends 'base.html' %}

{% block title %}
Login | FinanceTracker
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-sidebar">

        <div>

            <h2 class="logo">
                FinanceTracker
            </h2>

            <div style="margin-top:50px;">

                <div class="auth-menu">

                    <a class="active">
                        Login
                    </a>

                    <a href="{% url 'register' %}">
                        Register
                    </a>

                </div>

            </div>

        </div>

        <p style="color:#94a3b8;">
            Secure Financial Management
        </p>

    </div>


    <div class="auth-content">

        <div class="auth-card">

            <h1>
                Welcome Back
            </h1>

            <p style="color:#6b7280;margin-top:10px;">
                Login to manage your wallets and transactions.
            </p>

            <form method="POST" style="margin-top:30px;">

                {% csrf_token %}

                <div class="form-group">

                    <label>
                        Username
                    </label>

                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Enter username"
                        required
                    >

                </div>

                <div class="form-group">

                    <label>
                        Password
                    </label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter password"
                        required
                    >

                </div>

                <button
                    type="submit"
                    class="btn btn-primary"
                    style="width:100%;"
                >
                    Login
                </button>

            </form>

            <p
                style="
                text-align:center;
                margin-top:20px;
                "
            >
                Don't have an account?

                <a
                    href="{% url 'register' %}"
                    style="
                    color:#7c3aed;
                    font-weight:600;
                    "
                >
                    Register
                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}