{% extends "base.html" %}

{% block start %}  
  

    <div class="wallet-container">

        <h1>Create Wallet</h1>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <label>Wallet Name</label>
                <input
                    type="text"
                    name="wallet_name"
                    placeholder="Enter wallet name"
                    required
                >
            </div>

            <div class="form-group">
                <label>Currency</label>

                <select name="currency" required>
                    <option value="">Select Currency</option>
                    <option value="INR">INR (₹)</option>
                    <option value="USD">USD ($)</option>
                    <option value="EUR">EUR (€)</option>
                    <option value="GBP">GBP (£)</option>
                </select>
            </div>

            <div class="form-group">
                <label>Initial Balance</label>

                <input
                    type="number"
                    step="0.01"
                    name="balance"
                    placeholder="Enter opening balance"
                    required
                >
            </div>

            <div class="form-group">
                <label>Description</label>

                <textarea
                    name="description"
                    rows="4"
                    placeholder="Description..."
                ></textarea>
            </div>

            <button type="submit" class="btn">
                Create Wallet
            </button>

        </form>

    </div>


{% endblock %}