{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FinanceTracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% if 'app' in message.extra_tags %}
        <div class="alert {{ message.tags }}" id="alert-{{ forloop.counter }}">
            {% if 'success' in message.tags %}<i class="bi bi-check-circle-fill"></i>
            {% elif 'error' in message.tags %}<i class="bi bi-exclamation-circle-fill"></i>
            {% else %}<i class="bi bi-info-circle-fill"></i>{% endif %}
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="{% static 'app.js' %}"></script>


    {% block script %}{% endblock %}

</body>
</html>