{% extends 'base.html' %}
{% block title %}Create Wallet | FinanceTracker{% endblock %}

{% block content %}
<div class="layout">

    <div class="sidebar">
        <div class="sidebar-top">
            <div class="sidebar-logo">
                <div class="logo-icon"><i class="bi bi-coin"></i></div>
                FinanceTracker
            </div>
            <div class="sidebar-menu">
                <a href="{% url 'home' %}">
                    <i class="bi bi-house-fill"></i> Home
                </a>
                <a class="active">
                    <i class="bi bi-wallet2"></i> Create Wallet
                </a>
                <a href="{% url 'select_wallet' %}">
                    <i class="bi bi-list-ul"></i> Select Wallet
                </a>
            </div>
        </div>
        <div class="sidebar-menu">
                <a href="{% url 'logout' %}">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
        </div>
    </div>

    <div class="main-content">
        <div class="create-card">

            <h1>Create Wallet</h1>
            <p class="subtitle">Fill in your details to create your wallet</p>

            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Wallet Name</label>
                    <input type="text" name="wallet_name" class="form-control" placeholder="Enter wallet name" required>
                </div>

                <button type="submit" class="btn btn-primary" style="width:100%;padding:14px;margin-top:8px;">
                    Create Wallet
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}